li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
}

.top {
  text-align: right;
}
.app {
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.center{
  width: 50%;
  margin: auto;
  margin-top: 150px;
}
.google {
  display: block;
  margin: auto;
}
input[type=text] {
  display: block;
  margin: auto;
  width: 500px;
  height: 30px;
}
.underBar {
  width: 340px;
  margin: auto;
}
imput[type=submit] {
  margin: 160px;
}

footer {
  position: absolute;
  width: 98.5%;
  bottom: 0;
}
.bottomTop {
  margin: -5px 40px;
}
.bottomLeft {
  display: inline-block;
  width: 45%;
}
.bottomRight {
  display: inline-block;
  width: 45%;
  text-align: right;
}
